$primary-color: #0284c7;
$primary-light: #e0f2fe;
$primary-white: #f9f9f9;
$font-light-gray: #f8fafc;
$new-title: #facc15;
$new-text: #fefce8;

$font-black: #1f2937;
$font-gray: #6b7280;
$font-black-gray: #4b5563;

$reply-bgc: #d1d5db;
$reply-text: #f3f4f6;

$mobileBar-color: #0285c7da;
$fouce-color: #075985;
$error-msg: #ef4444;
$tag-color-mobile: #cbd5e1a1;
$tag-text-mobile: #f8fafc;
