//1370
@media (max-width: 85.625rem) {
  .dashBoard-container {
    width: 110rem !important;
  }
}
//1300

@media (max-width: 81.25rem) {
  .dashBoard-container {
    width: 100rem !important;
  }
}
//940
@media (max-width: 58.75rem) {
  .dashBoard-container {
    width: 90rem !important;
  }
}
//850
@media (max-width: 53.125rem) {
  .dashBoard-container {
    width: 80rem !important;
  }
}
//777
@media (max-width: 48.56rem) {
  .dashBoard-container {
    width: 70rem !important;
  }
}
//700
@media (max-width: 43.75rem) {
    .dashBoard-container {
      width: 50rem !important;
    }
  }